.acercade{
    h2{
        color: $primary;
    }
    .preceptos{
        h3{
            color: lighten($secondary, 10)  ;
        }
        img{
            width: 65%;
            margin: 0 auto;
        }
    }
}

.equipo{
    h2{
        color: $primary;
    }
    .equipo-hero{
        img{
            width: 90%;
            margin: 1rem;
            @media (min-width:768px) {
                width: 25%;
            }
        }
    }

}
