.banner-flat{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 77px;
    height: 45vh;
    position: relative;
    &::after{
        background-color: black;
        content: '';
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        opacity: .4;
    }
    @media (min-width:768px) {
        padding-top: 88px;
    }
    .container{
        height: 100%;
        // background-color: chartreuse;
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
        .info{
            // background-color: coral;
            height: 100%;
            // width: 100%;
            h1{
                color: $primary;
                display: inline-block;
                width: 100%;
            }
            h2{
                color: $variant;
                display: inline-block;
                width: 100%;
            }

        }
    }
}