.btn{
    background-color: $primary;
    border: $primary solid 2px;
    border-radius: 5px;
    box-shadow:0px 0px 3px $primary;
    // font-family: 'Roboto';
    color: white;
    font-size: 1rem;
    font-weight: 500;
    display: inline-block;
    letter-spacing: 1px;
    padding: .5rem 1.7rem;
    transition: ease-in-out .3s;
    text-transform: uppercase;
    &_secondary{
        background-color: $secondary;
        border: $secondary solid 2px;
        border-radius: 5px;
        box-shadow:0px 0px 3px $secondary;
        // font-family: 'Roboto';
        color: white;
        font-size: 1rem;
        font-weight: 500;
        display: inline-block;
        letter-spacing: 1px;
        padding: .5rem 1.7rem;
        transition: ease-in-out .3s;
        text-transform: uppercase;
        &:hover{
            transform: scale(1.03);
            box-shadow:0 0 10px $secondary;
        }
    }
    &:hover{
        transform: scale(1.03);
        box-shadow:0 0 10px $primary;
    }
}
.btn-outline{
    border: $primary solid 2px;
    border-radius: 5px;
    // box-shadow:0 0 10px $primary;
    color: $primary;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    padding: .5rem 1.7rem;
    letter-spacing: 1px;
    transition: ease-in-out .3s;
    text-transform: uppercase;
    &_secondary{
        border: $secondary solid 2px;
        border-radius: 5px;
        // box-shadow:0 0 10px $primary;
        color: $secondary;
        display: inline-block;
        font-size: 1rem;
        font-weight: 500;
        padding: .5rem 1.7rem;
        letter-spacing: 1px;
        transition: ease-in-out .3s;
        text-transform: uppercase;
        &:hover{
            transform: scale(1.03);
        }
    }
    &:hover{
        transform: scale(1.03);
    }
}

// tarjeta
.card-light{
    border: lightgray solid 2px;
    border-radius: 10px;
    box-shadow: 3px 3px 4px rgba(#000000,.3);
}