.aside-direccion{
    // background-color: cornflowerblue;
    .container{
        .dir-left{
            background-color: $secondary;
            border:lighten(gray, $amount: 30) solid 1px;
            box-shadow: 3px 3px 10px rgba(#000000, .3);
            padding: 1.5rem;
            color: lighten($variant, 30);
            h3{
                color: $variant;
                span{
                    color: lighten($variant, 10);
                }
            }
            i{
                color: $primary;
                font-size: 1.5rem;
                margin-right: .8rem;
            }
        }
        .dir-right{
            border:lighten(gray, $amount: 30) solid 1px;
            box-shadow: 3px 3px 10px rgba(#000000, .3);
        }
    }
}
.map{
    .container{
        .mapa-google{
            border:lighten(gray, $amount: 30) solid 1px;
            box-shadow: 3px 3px 10px rgba(#000000, .3);
        }
    }
}