@import 'variables';
@import 'components.scss';
@import 'navigation.scss';
@import 'bannerflat.scss';
@import 'home';
@import 'acercade.scss';
@import 'geo.scss';
@import 'servicios.scss';
@import 'contactos.scss';
@import 'mainfooter.scss';
body{
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    color:$txt_black;
    letter-spacing: 1px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
    color:$txt_black_dark;
}