// componentes de la página
.btng{
    background-color: $geo_primary;
    border: $geo_primary solid 2px;
    border-radius: 5px;
    box-shadow:0px 0px 3px $geo_primary;
    // font-family: 'Roboto';
    color: white;
    font-size: 1rem;
    font-weight: 500;
    display: inline-block;
    letter-spacing: 1px;
    padding: .5rem 1.7rem;
    transition: ease-in-out .3s;
    text-transform: uppercase;
    &:hover{
        transform: scale(1.03);
        box-shadow:0 0 10px $geo_primary;
    }
}
.btng-outline{
    background-color: white;
    border: $geo_primary solid 2px;
    border-radius: 5px;
    // box-shadow:0 0 10px $primary;
    color: $geo_primary;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    padding: .5rem 1.7rem;
    letter-spacing: 1px;
    transition: ease-in-out .3s;
    text-transform: uppercase;
    &:hover{
        transform: scale(1.03);
    }
}
// end componentes
// banner geo
.banner-geo{
    height: 100vh;
    width: 100%;
    position: relative;
    // transition: all 2s;
    // z-index: 0;
    overflow: hidden;
    .prev,.next{
        position: absolute;
        top: 50%;
        width: 50px;
        height: 50px;
        background-color: gray;
        // transform: translateY(-50%);
        line-height: 50px;
        border-radius: 50%;
        text-align: center;
        color: white;
        cursor: pointer;
    }
    .prev{
        left: 5px;
        z-index: 10;
    }
    .next{
        right: 5px;
        z-index: 20;
    }
    .slider{
        // background-color: green;
        height: 100%;
        width: 100%;
        // position: relative;
        // z-index: 30;
        .slide{
            // background-color: yellowgreen;
            display: none;
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            animation: slide 2s ease;
            &::after{
                background-color:black;
                // background-color:green;
                content: 'Hola';
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                // z-index: 1;
                opacity: .3;
            }
            .container{
                // background-color: cadetblue;
                height: 100%;
                padding-top: 73px;
                position: relative;
                @media (min-width:768px) {
                    padding-top: 88px;
                }
                .content-slider{
                    // background-color: hotpink;
                    height: 100%;
                    .caption{
                        position: absolute;
                        width: 100%;
                        // height: 100%;
                        z-index: 50;
                        @media (min-width:768px) {
                            width: 60%;
                        }
                        h1{
                            color: $geo_primary;
                            text-shadow: 3px 3px 3px rgba(black, .5);
                        }
                        img{
                            width: 20%;
                        }
                    }
                }
            }
        }
        .slide-active{
            display: flex;
            animation: slide 2s ease forwards;
        }
    }
    .indicators{
        display: flex;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 30;
        // background-color: violet;
        div{
            background-color: white;
            border-radius: 50%;
            border: 2px solid lighten(black,  20);
            cursor: pointer;
            height: 25px;
            width: 25px;
            margin: .3rem;
        }
        .point{
            background-color: green;
            // &:nth-child(1){
            //     background-color: $primary;
            //     border: 3px solid gray;
            //     border-radius: 50%;
            //     margin: 1rem;
            // }
            // &:nth-child(2){
            //     // background-color: yellow;
            //     border: 3px solid gray;
            //     border-radius: 50%;
            //     margin: 1rem;
            // }
            // &:nth-child(3){
            //     // background-color: yellow;
            //     border: 3px solid gray;
            //     border-radius: 50%;
            //     margin: 1rem;
            // }
        }
    }
    @keyframes slide {
        0%{
            opacity: .5;
            transform: scale(1.1);
        }
        100%{
            opacity: 1;
            transform: scale(1);
        }
    }
}
// paquetes
.geo-paquetes{
    .container{
        padding-top: 2rem;
        .pak-item{
            border: 1px solid lightgray;
            border-radius: 10px;
            box-shadow: 3px 3px 3px rgba(black, .3);
            .item-header{
                background-color: $geo_primary;
                // background-color: lighten(lightgray, 10);
                // border-bottom: 1px solid lightgray;
                border-bottom: 1px solid $geo_primary;
                border-radius: 10px 10px 0 0;
                padding: .8rem;
                h4{
                    color: white;
                }
            }
            .item-body{
            }
            .item-text{
                border-top: 1px solid lightgray;
                padding: .8rem;
            }
            .item-footer{
                // background-color: lighten(lightgray, 10);
                // border-top: 1px solid lightgray;
                border-radius: 0px 0px 10px 10px;
                padding: .8rem;
            }
        }
    }
}
// end paqutes
.convenio{
    .convenio-desc{
        background-color: $geo_primary;
        color: white;
        border: 0;
    }
    i{
        color: $geo_primary;
    }
}