.main-banner {
    // background-color: $secondary;
    // background-image: linear-gradient(to right ,#152C47,#38567A);
    background-image: url("/img/banner2.jpg");
    background-size: cover;
    background-position: center;
    height: 95vh;
    // padding-top: 88px;
    // margin-top: 88px;
    color: white;
    // @media (max-width: 768px) {
    //     height: 94vh;
    //     padding-top: 73px;
    // }
    &::after {
        content: "Hola mundo";
        // background-color:$secondary;
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 95vh;
        opacity: 0.6;
        z-index: 0;
        @media (min-width: 768px) {
            height: 65vh;
        }
    }
    @media (min-width: 768px) {
        height: 65vh;
    }
    .container {
        // background-color: darkcyan;
        height: 100%;
        padding-top: 73px;
        padding-bottom: 0;
        // padding: 88 0 0 0;
        @media (min-width: 768px) {
            padding-top: 88px;
        }
        .hero-left {
            h1 {
                color: $primary;
            }
            h3 {
                color: $variant;
            }
        }

        .hero-right {
            .contenedor-cubo {
                // background: chocolate;
                width: 380px;
                height: 380px;
                perspective: 1000px;
                transform-origin: 50% 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: auto;
                margin-right: auto;
                @media (max-width: 1024px) {
                    width: 300px;
                    height: 300px;
                    // background-color: cornflowerblue;
                }
                .cara {
                    height: 200px;
                    width: 200px;
                    display: flex;
                    align-items: center;
                    transform-style: preserve-3d;
                    position: relative;
                    transition: 2s;
                    animation: rotar 15s infinite linear;
                    z-index: -1000;
                    @media (max-width: 1024px) {
                        width: 160px;
                        height: 160px;
                    }
                    @media (max-width: 768px) {
                        width: 140px;
                        height: 140px;
                    }
                    .item {
                        position: absolute;
                        display: flex;
                        height: 100%;
                        width: 100%;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: center;
                    }
                    .item-1 {
                        // background-color: salmon;
                        background-image: url("/img/servicios_tres.jpg");
                        background-size: cover;
                        background-position: center;
                        transform: rotateY(0deg) translateZ(100px);
                        @media (max-width: 1024px) {
                            transform: rotateY(0deg) translateZ(80px);
                        }
                        @media (max-width: 768px) {
                            transform: rotateY(0deg) translateZ(70px);
                        }
                        &::after {
                            content: "";
                            background-color: $secondary;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            opacity: 0.6;
                        }
                    }
                    .item-2 {
                        background-color: white;
                        transform: rotateX(90deg) translateZ(100px);
                        @media (max-width: 1024px) {
                            transform: rotateX(90deg) translateZ(80px);
                        }
                        @media (max-width: 768px) {
                            transform: rotateX(90deg) translateZ(70px);
                        }
                    }
                    .item-3 {
                        // background-color:slateblue;
                        background-image: url("/img/banner3.jpg");
                        background-size: cover;
                        background-position: center;
                        transform: rotateY(-180deg) translateZ(100px);
                        @media (max-width: 1024px) {
                            transform: rotateY(-180deg) translateZ(80px);
                        }
                        @media (max-width: 768px) {
                            transform: rotateY(-180deg) translateZ(70px);
                        }
                        &::after {
                            content: "";
                            background-color: $secondary;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            opacity: 0.6;
                        }
                    }
                    .item-4 {
                        // background-color: slategray;
                        background-image: url("/img/banner4.jpg");
                        background-size: cover;
                        background-position: center;
                        transform: rotateY(-90deg) translateZ(100px);
                        @media (max-width: 1024px) {
                            transform: rotateY(-90deg) translateZ(80px);
                        }
                        @media (max-width: 768px) {
                            transform: rotateY(-90deg) translateZ(70px);
                        }
                        &::after {
                            content: "";
                            background-color: $secondary;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            opacity: 0.6;
                        }
                    }
                    .item-5 {
                        // background-color:steelblue;
                        background-image: url("/img/banner2.jpg");
                        background-size: cover;
                        background-position: center;
                        transform: rotateY(90deg) translateZ(100px);
                        @media (max-width: 1024px) {
                            transform: rotateY(90deg) translateZ(80px);
                        }
                        @media (max-width: 768px) {
                            transform: rotateY(90deg) translateZ(70px);
                        }
                        &::after {
                            content: "";
                            background-color: $secondary;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            opacity: 0.6;
                        }
                    }
                    .item-6 {
                        background-color: $primary;
                        transform: rotateX(-90deg) translateZ(100px);
                        @media (max-width: 1024px) {
                            transform: rotateX(-90deg) translateZ(80px);
                        }
                        @media (max-width: 768px) {
                            transform: rotateX(-90deg) translateZ(70px);
                        }
                    }
                }
            }
            @keyframes rotar {
                from {
                    transform: rotateX(0deg) rotateY(0deg);
                }
                to {
                    transform: rotateX(360deg) rotateY(360deg);
                }
            }
        }
    }
}
// aside servicios
.aside-servicios {
    // background-color: crimson;
    .item-servicio {
        background-color: white;
        color: $secondary;
        border: $secondary solid 3px;
        h4 {
            color: $secondary;
            text-transform: uppercase;
        }
        P {
            color: $secondary;
        }
    }
    .item-servicio-n {
        background-color: $secondary;
        color: white;
        border: $secondary solid 3px;
        h4 {
            color: $variant;
            text-transform: uppercase;
        }
    }
}
// end aside servicios
.ultimos-proyectos {
    background-image: url("/img/banner_servicios.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
    position: relative;
    &::after {
        background-color: black;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.5;
        position: absolute;
    }
    .container {
        h2 {
            // color:darken($variant, $amount: 10) ;
            color: white;
        }

        a {
            transition: all ease-in-out .5s;
            &:hover {
                transform: scale(1.05);
            }
        }
        .item {
            // border: blueviolet 3px solid;
            border-radius: 15px;
            box-shadow: 3px 3px 10px rgba($color: #000000, $alpha: 0.5);
            img {
                border-radius: 15px 15px 0 0;
            }
            .legend {
                background-color: $primary;
                border-radius: 0 0 15px 15px;
                h4 {
                    color: white;
                }
            }
        }
    }
}
// diseno-estructural
.diseno {
    // background-image: url("/img/banner_proyectos.jpg");
    // background-color: blueviolet;
    // background-size: cover;
    // background-attachment: fixed;
    color: white;
    position: relative;
    // &::after {
    //     background-color: $primary;
    //     content: "";
    //     width: 100%;
    //     height: 100%;
    //     top: 0;
    //     left: 0;
    //     opacity: 0.65;
    //     position: absolute;
    // }
    .item-wrap{
        filter: drop-shadow(3px 3px 3px rgba(black,.8));
        .item{
            clip-path: polygon(95% 0%, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
            text-align: center;
            // border: blueviolet solid 5px;
            &:nth-child(1){
                background-color: $secondary;
                box-shadow: black 3px 3px 20px;
                &:hover{
                    background-color: lighten($secondary, 10);
                }
            }
            &:nth-child(2){
                background-color: $primary;
                &:hover{
                    background-color: lighten($primary, 10);
                }
            }
            &:nth-child(3){
                background-color: $secondary;
                &:hover{
                    background-color: lighten($secondary, 10);
                }
            }
            h3{
                color: white;
                text-align: center;
            }
            i{
                // background-color: chartreuse;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
            // &:hover{
            //     background-color: $variant;
            // }
        }
    }

}
// end diseno-estructural
// nuestros-clientes
.nuestros-clientes {
    // background-color: chocolate;
    h2 {
        // color: $secondary;
    }
    .cliente-logo {
        // background-color: chocolate;
        img {
            width: 80px;
            // margin: 1rem;
            @media (min-width: 768px) {
                width: 120px;
            }
        }
    }
}
// end nuestros-clientes
