.main-footer {
    background-color: $ligth_black;
    color: white;
    margin: 0;
    padding: 32px 0;
    h3 {
        color: white;
    }
    .info {
        p {
            color: lighten(grey, $amount: 20);
        }
    }
    .enlaces-rapidos {
        li {
            padding: 2px 0;
            a {
                color: lighten(grey, $amount: 21);
                &:hover {
                    color: white;
                    border-bottom: white solid 2px;
                }
            }
        }
    }
    .adress {
        p {
            color: lighten(grey, $amount: 20);
        }
    }
    .sociales {
        margin: 32px 0;
        a {
            color: lighten(grey, $amount: 21);
            &:hover {
                color: white;
            }
        }
    }
    .copyright {
        // background-color: yellowgreen;
        padding-top: 32px;
        .footer-name {
            color: $primary;
        }
    }
    hr {
        opacity: 0.5;
    }
}
