.navigation {
    background-color: $secondary;
    // background-image: linear-gradient(to right ,#152C47,#38567A);
    border-bottom: rgba($color: #fff, $alpha: .1) solid 1px;
    // transition: ease-in-out 1s;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    box-shadow:rgba(black,.5) 3px 3px 10px;
    .desktop-menu{
        a {
            // transition: ease 1s;
            color:lighten($variant, 25);
            &:hover{
                color: $variant;
                border-bottom: $variant solid 3px;
            }
        }
    }
    .mobile-menu{
        // font-weight: 300;
        .option-menu{
            a{
                color:lighten($variant, 25);
                &:hover{
                    color: $variant;
                    border-bottom: $variant solid 3px;
                }
            }
        }
    }
}
.menu-btn{
    color: $primary;
    &:hover{
        background-color: $variant;
    }
}
.active{
    border-bottom: $variant solid 3px;
}
