.construccion{
    // background-color: rosybrown;
    // color: royalblue;
    .construccion-item{
        // position: relative;
        ol{
            li{
                i{
                    color: $primary;
                }
            }
        }
        
    }
    .construccion-item-img{
        // background-image: url('/img/banner1.jpg');
        // border-radius: 10px;
        // box-shadow: 3px 3px 10px rgba(#000000,.5) ;
        // &::after{
        //     content: '';
        //     background-color:$primary;
        //     border-radius: 10px;
        //     height: 100%;
        //     width: 100%;
        //     top: 0;
        //     left: 0;
        //     position: absolute;
        //     opacity: .6;
        // }
    }
}

.consultoria{
    // background-color: rosybrown;
    // color: royalblue;
    .consultoria-item{
        // position: relative;
        ul{
            li{
                i{
                    color: $secondary;
                }
            }
        }
        
    } 
}

.arquitectura{
    .arquitectura-item{
        ul{
            li{
                i{
                    color: $primary;
                }
            }
        }
    }
}

.servicio-diseno{
    .servicio-diseno-item{
        ul{
            li{
                i{
                    color: $secondary;
                }
            }
        }
    }
}
.geo{
    .item-geo{
        background-color: $geo_primary;
        color: white;
        border: 0;
        h2{
            color: white;
        }
    }
}