.btn {
  background-color: #CA611F;
  border: #CA611F solid 2px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #CA611F;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  display: inline-block;
  letter-spacing: 1px;
  padding: 0.5rem 1.7rem;
  transition: ease-in-out 0.3s;
  text-transform: uppercase;
}
.btn_secondary {
  background-color: #284267;
  border: #284267 solid 2px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #284267;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  display: inline-block;
  letter-spacing: 1px;
  padding: 0.5rem 1.7rem;
  transition: ease-in-out 0.3s;
  text-transform: uppercase;
}
.btn_secondary:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px #284267;
}
.btn:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px #CA611F;
}

.btn-outline {
  border: #CA611F solid 2px;
  border-radius: 5px;
  color: #CA611F;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1.7rem;
  letter-spacing: 1px;
  transition: ease-in-out 0.3s;
  text-transform: uppercase;
}
.btn-outline_secondary {
  border: #284267 solid 2px;
  border-radius: 5px;
  color: #284267;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1.7rem;
  letter-spacing: 1px;
  transition: ease-in-out 0.3s;
  text-transform: uppercase;
}
.btn-outline_secondary:hover {
  transform: scale(1.03);
}
.btn-outline:hover {
  transform: scale(1.03);
}

.card-light {
  border: lightgray solid 2px;
  border-radius: 10px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
}

.navigation {
  background-color: #284267;
  border-bottom: rgba(255, 255, 255, 0.1) solid 1px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 10px;
}
.navigation .desktop-menu a {
  color: #cddaed;
}
.navigation .desktop-menu a:hover {
  color: #6f96cb;
  border-bottom: #6f96cb solid 3px;
}
.navigation .mobile-menu .option-menu a {
  color: #cddaed;
}
.navigation .mobile-menu .option-menu a:hover {
  color: #6f96cb;
  border-bottom: #6f96cb solid 3px;
}

.menu-btn {
  color: #CA611F;
}
.menu-btn:hover {
  background-color: #6f96cb;
}

.active {
  border-bottom: #6f96cb solid 3px;
}

.banner-flat {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 77px;
  height: 45vh;
  position: relative;
}
.banner-flat::after {
  background-color: black;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.4;
}
@media (min-width: 768px) {
  .banner-flat {
    padding-top: 88px;
  }
}
.banner-flat .container {
  height: 100%;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.banner-flat .container .info {
  height: 100%;
}
.banner-flat .container .info h1 {
  color: #CA611F;
  display: inline-block;
  width: 100%;
}
.banner-flat .container .info h2 {
  color: #6f96cb;
  display: inline-block;
  width: 100%;
}

.main-banner {
  background-image: url("/img/banner2.jpg");
  background-size: cover;
  background-position: center;
  height: 95vh;
  color: white;
}
.main-banner::after {
  content: "Hola mundo";
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95vh;
  opacity: 0.6;
  z-index: 0;
}
@media (min-width: 768px) {
  .main-banner::after {
    height: 65vh;
  }
}
@media (min-width: 768px) {
  .main-banner {
    height: 65vh;
  }
}
.main-banner .container {
  height: 100%;
  padding-top: 73px;
  padding-bottom: 0;
}
@media (min-width: 768px) {
  .main-banner .container {
    padding-top: 88px;
  }
}
.main-banner .container .hero-left h1 {
  color: #CA611F;
}
.main-banner .container .hero-left h3 {
  color: #6f96cb;
}
.main-banner .container .hero-right .contenedor-cubo {
  width: 380px;
  height: 380px;
  perspective: 1000px;
  transform-origin: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1024px) {
  .main-banner .container .hero-right .contenedor-cubo {
    width: 300px;
    height: 300px;
  }
}
.main-banner .container .hero-right .contenedor-cubo .cara {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  transform-style: preserve-3d;
  position: relative;
  transition: 2s;
  animation: rotar 15s infinite linear;
  z-index: -1000;
}
@media (max-width: 1024px) {
  .main-banner .container .hero-right .contenedor-cubo .cara {
    width: 160px;
    height: 160px;
  }
}
@media (max-width: 768px) {
  .main-banner .container .hero-right .contenedor-cubo .cara {
    width: 140px;
    height: 140px;
  }
}
.main-banner .container .hero-right .contenedor-cubo .cara .item {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.main-banner .container .hero-right .contenedor-cubo .cara .item-1 {
  background-image: url("/img/servicios_tres.jpg");
  background-size: cover;
  background-position: center;
  transform: rotateY(0deg) translateZ(100px);
}
@media (max-width: 1024px) {
  .main-banner .container .hero-right .contenedor-cubo .cara .item-1 {
    transform: rotateY(0deg) translateZ(80px);
  }
}
@media (max-width: 768px) {
  .main-banner .container .hero-right .contenedor-cubo .cara .item-1 {
    transform: rotateY(0deg) translateZ(70px);
  }
}
.main-banner .container .hero-right .contenedor-cubo .cara .item-1::after {
  content: "";
  background-color: #284267;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.6;
}
.main-banner .container .hero-right .contenedor-cubo .cara .item-2 {
  background-color: white;
  transform: rotateX(90deg) translateZ(100px);
}
@media (max-width: 1024px) {
  .main-banner .container .hero-right .contenedor-cubo .cara .item-2 {
    transform: rotateX(90deg) translateZ(80px);
  }
}
@media (max-width: 768px) {
  .main-banner .container .hero-right .contenedor-cubo .cara .item-2 {
    transform: rotateX(90deg) translateZ(70px);
  }
}
.main-banner .container .hero-right .contenedor-cubo .cara .item-3 {
  background-image: url("/img/banner3.jpg");
  background-size: cover;
  background-position: center;
  transform: rotateY(-180deg) translateZ(100px);
}
@media (max-width: 1024px) {
  .main-banner .container .hero-right .contenedor-cubo .cara .item-3 {
    transform: rotateY(-180deg) translateZ(80px);
  }
}
@media (max-width: 768px) {
  .main-banner .container .hero-right .contenedor-cubo .cara .item-3 {
    transform: rotateY(-180deg) translateZ(70px);
  }
}
.main-banner .container .hero-right .contenedor-cubo .cara .item-3::after {
  content: "";
  background-color: #284267;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.6;
}
.main-banner .container .hero-right .contenedor-cubo .cara .item-4 {
  background-image: url("/img/banner4.jpg");
  background-size: cover;
  background-position: center;
  transform: rotateY(-90deg) translateZ(100px);
}
@media (max-width: 1024px) {
  .main-banner .container .hero-right .contenedor-cubo .cara .item-4 {
    transform: rotateY(-90deg) translateZ(80px);
  }
}
@media (max-width: 768px) {
  .main-banner .container .hero-right .contenedor-cubo .cara .item-4 {
    transform: rotateY(-90deg) translateZ(70px);
  }
}
.main-banner .container .hero-right .contenedor-cubo .cara .item-4::after {
  content: "";
  background-color: #284267;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.6;
}
.main-banner .container .hero-right .contenedor-cubo .cara .item-5 {
  background-image: url("/img/banner2.jpg");
  background-size: cover;
  background-position: center;
  transform: rotateY(90deg) translateZ(100px);
}
@media (max-width: 1024px) {
  .main-banner .container .hero-right .contenedor-cubo .cara .item-5 {
    transform: rotateY(90deg) translateZ(80px);
  }
}
@media (max-width: 768px) {
  .main-banner .container .hero-right .contenedor-cubo .cara .item-5 {
    transform: rotateY(90deg) translateZ(70px);
  }
}
.main-banner .container .hero-right .contenedor-cubo .cara .item-5::after {
  content: "";
  background-color: #284267;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.6;
}
.main-banner .container .hero-right .contenedor-cubo .cara .item-6 {
  background-color: #CA611F;
  transform: rotateX(-90deg) translateZ(100px);
}
@media (max-width: 1024px) {
  .main-banner .container .hero-right .contenedor-cubo .cara .item-6 {
    transform: rotateX(-90deg) translateZ(80px);
  }
}
@media (max-width: 768px) {
  .main-banner .container .hero-right .contenedor-cubo .cara .item-6 {
    transform: rotateX(-90deg) translateZ(70px);
  }
}
@keyframes rotar {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.aside-servicios .item-servicio {
  background-color: white;
  color: #284267;
  border: #284267 solid 3px;
}
.aside-servicios .item-servicio h4 {
  color: #284267;
  text-transform: uppercase;
}
.aside-servicios .item-servicio P {
  color: #284267;
}
.aside-servicios .item-servicio-n {
  background-color: #284267;
  color: white;
  border: #284267 solid 3px;
}
.aside-servicios .item-servicio-n h4 {
  color: #6f96cb;
  text-transform: uppercase;
}

.ultimos-proyectos {
  background-image: url("/img/banner_servicios.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: white;
  position: relative;
}
.ultimos-proyectos::after {
  background-color: black;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
}
.ultimos-proyectos .container h2 {
  color: white;
}
.ultimos-proyectos .container a {
  transition: all ease-in-out 0.5s;
}
.ultimos-proyectos .container a:hover {
  transform: scale(1.05);
}
.ultimos-proyectos .container .item {
  border-radius: 15px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
.ultimos-proyectos .container .item img {
  border-radius: 15px 15px 0 0;
}
.ultimos-proyectos .container .item .legend {
  background-color: #CA611F;
  border-radius: 0 0 15px 15px;
}
.ultimos-proyectos .container .item .legend h4 {
  color: white;
}

.diseno {
  color: white;
  position: relative;
}
.diseno .item-wrap {
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.8));
}
.diseno .item-wrap .item {
  clip-path: polygon(95% 0%, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
  text-align: center;
}
.diseno .item-wrap .item:nth-child(1) {
  background-color: #284267;
  box-shadow: black 3px 3px 20px;
}
.diseno .item-wrap .item:nth-child(1):hover {
  background-color: #365a8c;
}
.diseno .item-wrap .item:nth-child(2) {
  background-color: #CA611F;
}
.diseno .item-wrap .item:nth-child(2):hover {
  background-color: #e17b3b;
}
.diseno .item-wrap .item:nth-child(3) {
  background-color: #284267;
}
.diseno .item-wrap .item:nth-child(3):hover {
  background-color: #365a8c;
}
.diseno .item-wrap .item h3 {
  color: white;
  text-align: center;
}
.diseno .item-wrap .item i {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.nuestros-clientes .cliente-logo img {
  width: 80px;
}
@media (min-width: 768px) {
  .nuestros-clientes .cliente-logo img {
    width: 120px;
  }
}

.acercade h2 {
  color: #CA611F;
}
.acercade .preceptos h3 {
  color: #365a8c;
}
.acercade .preceptos img {
  width: 65%;
  margin: 0 auto;
}

.equipo h2 {
  color: #CA611F;
}
.equipo .equipo-hero img {
  width: 90%;
  margin: 1rem;
}
@media (min-width: 768px) {
  .equipo .equipo-hero img {
    width: 25%;
  }
}

.btng {
  background-color: #198D2F;
  border: #198D2F solid 2px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #198D2F;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  display: inline-block;
  letter-spacing: 1px;
  padding: 0.5rem 1.7rem;
  transition: ease-in-out 0.3s;
  text-transform: uppercase;
}
.btng:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px #198D2F;
}

.btng-outline {
  background-color: white;
  border: #198D2F solid 2px;
  border-radius: 5px;
  color: #198D2F;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1.7rem;
  letter-spacing: 1px;
  transition: ease-in-out 0.3s;
  text-transform: uppercase;
}
.btng-outline:hover {
  transform: scale(1.03);
}

.banner-geo {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.banner-geo .prev, .banner-geo .next {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  background-color: gray;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  color: white;
  cursor: pointer;
}
.banner-geo .prev {
  left: 5px;
  z-index: 10;
}
.banner-geo .next {
  right: 5px;
  z-index: 20;
}
.banner-geo .slider {
  height: 100%;
  width: 100%;
}
.banner-geo .slider .slide {
  display: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: slide 2s ease;
}
.banner-geo .slider .slide::after {
  background-color: black;
  content: "Hola";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}
.banner-geo .slider .slide .container {
  height: 100%;
  padding-top: 73px;
  position: relative;
}
@media (min-width: 768px) {
  .banner-geo .slider .slide .container {
    padding-top: 88px;
  }
}
.banner-geo .slider .slide .container .content-slider {
  height: 100%;
}
.banner-geo .slider .slide .container .content-slider .caption {
  position: absolute;
  width: 100%;
  z-index: 50;
}
@media (min-width: 768px) {
  .banner-geo .slider .slide .container .content-slider .caption {
    width: 60%;
  }
}
.banner-geo .slider .slide .container .content-slider .caption h1 {
  color: #198D2F;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
.banner-geo .slider .slide .container .content-slider .caption img {
  width: 20%;
}
.banner-geo .slider .slide-active {
  display: flex;
  animation: slide 2s ease forwards;
}
.banner-geo .indicators {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
}
.banner-geo .indicators div {
  background-color: white;
  border-radius: 50%;
  border: 2px solid #333333;
  cursor: pointer;
  height: 25px;
  width: 25px;
  margin: 0.3rem;
}
.banner-geo .indicators .point {
  background-color: green;
}
@keyframes slide {
  0% {
    opacity: 0.5;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.geo-paquetes .container {
  padding-top: 2rem;
}
.geo-paquetes .container .pak-item {
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
.geo-paquetes .container .pak-item .item-header {
  background-color: #198D2F;
  border-bottom: 1px solid #198D2F;
  border-radius: 10px 10px 0 0;
  padding: 0.8rem;
}
.geo-paquetes .container .pak-item .item-header h4 {
  color: white;
}
.geo-paquetes .container .pak-item .item-text {
  border-top: 1px solid lightgray;
  padding: 0.8rem;
}
.geo-paquetes .container .pak-item .item-footer {
  border-radius: 0px 0px 10px 10px;
  padding: 0.8rem;
}

.convenio .convenio-desc {
  background-color: #198D2F;
  color: white;
  border: 0;
}
.convenio i {
  color: #198D2F;
}

.construccion .construccion-item ol li i {
  color: #CA611F;
}
.consultoria .consultoria-item ul li i {
  color: #284267;
}

.arquitectura .arquitectura-item ul li i {
  color: #CA611F;
}

.servicio-diseno .servicio-diseno-item ul li i {
  color: #284267;
}

.geo .item-geo {
  background-color: #198D2F;
  color: white;
  border: 0;
}
.geo .item-geo h2 {
  color: white;
}

.aside-direccion .container .dir-left {
  background-color: #284267;
  border: #cdcdcd solid 1px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  padding: 1.5rem;
  color: #dfe8f4;
}
.aside-direccion .container .dir-left h3 {
  color: #6f96cb;
}
.aside-direccion .container .dir-left h3 span {
  color: #94b1d9;
}
.aside-direccion .container .dir-left i {
  color: #CA611F;
  font-size: 1.5rem;
  margin-right: 0.8rem;
}
.aside-direccion .container .dir-right {
  border: #cdcdcd solid 1px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.map .container .mapa-google {
  border: #cdcdcd solid 1px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.main-footer {
  background-color: #333333;
  color: white;
  margin: 0;
  padding: 32px 0;
}
.main-footer h3 {
  color: white;
}
.main-footer .info p {
  color: #b3b3b3;
}
.main-footer .enlaces-rapidos li {
  padding: 2px 0;
}
.main-footer .enlaces-rapidos li a {
  color: #b6b6b6;
}
.main-footer .enlaces-rapidos li a:hover {
  color: white;
  border-bottom: white solid 2px;
}
.main-footer .adress p {
  color: #b3b3b3;
}
.main-footer .sociales {
  margin: 32px 0;
}
.main-footer .sociales a {
  color: #b6b6b6;
}
.main-footer .sociales a:hover {
  color: white;
}
.main-footer .copyright {
  padding-top: 32px;
}
.main-footer .copyright .footer-name {
  color: #CA611F;
}
.main-footer hr {
  opacity: 0.5;
}

body {
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Open Sans', sans-serif; */
  font-family: "Ubuntu", sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  color: #666666;
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  color: #4d4d4d;
}
