@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

@import "all.min.css";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "animate.css";
@import "form.css";

.container {
    @apply max-w-7xl px-3 sm:px-6 lg:px-8 py-1 md:py-2 lg:py-3;
}

h1 {
    @apply text-5xl;
}
h2 {
    @apply text-4xl;
}
h3 {
    @apply text-3xl;
}
h4 {
    @apply text-2xl;
}
/* clases personalizadas  */
.card {
    border: 1px solid gainsboro;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
    padding: 1rem;
}
